body {
    background-color: lightgray;
 }

#welcomeL {
    font-size:x-large;
    margin-right: 1%; 
    font-weight: bold;
}

#topBar {
    text-align: center;
    margin-bottom: 1%;
}

#info {
    float: left;
    font-size: large;
}

.info {
    margin-bottom: 2%;
}

.baseL {
    display: flex;
}

.charts{
    position: relative;
    display:flex;
    flex-direction: column;
}

.TransactionD {
    position: relative;
    top : -15em;
    width: 2080px;
    height: 500px;
}

.AuditD {
    position: relative;
    top : -15em;
    left: 85em;
    z-index: 4;
    width: 500px;
    height: 500px;
}
.transactionChart {
    top: 5em;
    z-index: 4;
}

#transactionL {
    width: 41em;
    height: 1em;
    margin-bottom: -1em;
    z-index: 2;
    right: -16em;
    display:flex;
    position: relative;
    justify-content: center;
}

.logoutButton {
    z-index: 100 !important;
    position: relative;
}